<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileShooter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FileShooter.Properties.Settings>
            <setting name="WindowPlacement" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="BoundaryChars" serializeAs="String">
                <value>!#()_~▽「」『』【】〔〕・＂＜＞</value>
            </setting>
            <setting name="Titles" serializeAs="String">
                <value>アニメ・ステラー/Y
---
アニソンポッド/Y
アニソンミュージアム/Y
  エフエムさがみ
Anime &amp; Seiyu Music Night/Y
NHK MUSIC/Y
アニソン・アカデミー/Y
アニソンプレミアムRADIO/Y
アニソン89秒の世界/Y
歌謡スクランブル/Y
青春ラジメニア/Y
twilight Club DJ MIX/Y
Hits 200/Y
こだわりセットリスト/Y
クラシックの迷宮/Y
ミュージックライン/Y
名曲ヒットパレード
音楽遊覧飛行
×クラシック
ふたりはプリキュア
ふたりはプリキュアMaxHeart
ふたりはプリキュアSplash☆Star
Yes!プリキュア5
Yes!プリキュア5GoGo!
フレッシュプリキュア!
ハートキャッチプリキュア!
スイートプリキュア♪
スマイルプリキュア!
ドキドキ!プリキュア
ハピネスチャージプリキュア!
Go!プリンセスプリキュア
魔法つかいプリキュア!
キラキラ☆プリキュアアラモード
HUGっと!プリキュア
スター☆トゥインクルプリキュア
ヒーリングっど・プリキュア
トロピカル～ジュ!プリキュア
デリシャスパーティ♡プリキュア
  デリシャスパーティ・プリキュア
ひろがるスカイ!プリキュア
わんだふるぷりきゅあ!
angela/Y
  angelaのsparking! talking! show!
水樹奈々/Y
  水樹奈々スマイル・ギャング
谷山浩子/Y
  谷山浩子ノセカイ
林原めぐみ/Y
  林原めぐみのTokyo Boogie Night
井澤詩織/Y
  井澤詩織のしーちゃんねる
○○!ゲームおんがく きこうぜ!/Y
---
ラジオ/Y
  RaNi Music♪
アニソン♪おとのくに/Y
  Live Music
  FMおとくに
ラジオ深夜便/Y
調布FM/Y
</value>
            </setting>
            <setting name="Labels" serializeAs="String">
                <value>\(生放送\)
生放送・
配信限定
TVアニメ
^特撮ドラマ\s+
^アニメ\s+</value>
            </setting>
            <setting name="Preprocess" serializeAs="String">
                <value>- RaNi Music♪Start
  RaNi Music♪ Start
- RaNi Music♪Morning
  RaNi Music♪ Morning
- RaNi Music♪Day
  RaNi Music♪ Day
- RaNi Music♪Evening
  RaNi Music♪ Evening
- ×(かける)クラシック
  ×クラシック
- トロピカル~ジュ!プリキュア
  トロピカル～ジュ!プリキュア</value>
            </setting>
        </FileShooter.Properties.Settings>
    </userSettings>
</configuration>